@import './utils/variables';
@import './components/Layout/header';
@import './components/Layout/content';
@import './components/search/search';
@import './utils/variables';
:root{
    padding: 0;
    margin: 0;
    font-family: $font-primary;
}


