@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

//create variables for colors
$color-primary: #55c57a;
$color-primary-light: #ffffff;
$color-primary-dark: #000000;
$color-primary-1: #55c57a;
$color-primary-2: #7ed56f;
$color-primary-3: #28b485;
$color-primary-4: #7ed56f;

//font base font family
$font-primary: 'Noto Sans', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

//font size
$default-font-size-h1: 70px;

